Software/Node-Red/Node-Red Flow/flows.json
[{"id":"71249c0e.0d35d4","type":"tab","label":"LED Strip Controller","disabled":false,"info":""},{"id":"64ad6412.9f916c","type":"inject","z":"71249c0e.0d35d4","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[1,0,3,100,0,0,0,0]","payloadType":"bin","x":1510,"y":380,"wires":[["84f48a78.f96768","3812cae8fe9b9187"]]},{"id":"84f48a78.f96768","type":"debug","z":"71249c0e.0d35d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1790,"y":380,"wires":[]},{"id":"ce46367d.ff1988","type":"function","z":"71249c0e.0d35d4","name":"Comms Parser","func":"// Code added here will be run once\n// whenever the node is deployed.\n const COLOUR = {\n  RED : 0,\n  GREEN : 1,\n  BLUE : 2,\n  WHITE : 3,\n  ROSE : 4, \n  MAGENTA : 5,\n  VIOLET : 6,\n  AZURE : 7,\n  CYAN : 8,\n  AQUAMARINE : 9,\n  CHARTREUSE :10,\n  YELLOW : 11,\n  ORANGE : 12\n };\n\n \n const MODE ={\n  NONE : 0,\n  SINE : 1,\n  SQUARE : 2,\n  TRIANGLE : 3,\n  SAWTOOTH : 4,\n  COLOUR_CHANGE :5,\n\n};\n\nconst CHANNEL ={\n  CHANNEL_NS : 0,\n  CHANNEL_1 : 1,\n  CHANNEL_2 : 2,\n  CHANNEL_3 : 3\n\n};\n\n\nmsg.baudrate = 115200;\nMSG_LEN = 8;\nmsg.payload = new Uint8Array(MSG_LEN);\nmsg.payload[0] = CHANNEL[msg.channel];\nmsg.payload[1] = MODE[msg.mode];\nmsg.payload[2] = COLOUR[msg.colour];\nmsg.payload[3] = msg.brightness;\nmsg.payload[4] = (msg.period & 0xFF000000)>>24;\nmsg.payload[5] = (msg.period & 0x00FF0000)>>16;\nmsg.payload[6] = (msg.period & 0x0000FF00)>>8;\nmsg.payload[7] = (msg.period & 0x000000FF);\n\nmsg.payload = Buffer.from(msg.payload)\nreturn msg;","outputs":1,"noerr":2,"initialize":"","finalize":"","libs":[],"x":1500,"y":480,"wires":[["84f48a78.f96768","3812cae8fe9b9187"]]},{"id":"4939b189.47501","type":"alexa-home","z":"71249c0e.0d35d4","conf":"81461b04.a7b598","device":"183816","acknoledge":true,"name":"Prusa Shelf","topic":"Bedroom","x":270,"y":440,"wires":[["6d74e0bf.ac7a"]]},{"id":"922a1523.6f2a58","type":"alexa-home","z":"71249c0e.0d35d4","conf":"81461b04.a7b598","device":"183818","acknoledge":true,"name":"CNC Shelf","topic":"Bedroom","x":280,"y":620,"wires":[["85c72e9d.8e294"]]},{"id":"b03efcb7.9e3f8","type":"alexa-home","z":"71249c0e.0d35d4","conf":"81461b04.a7b598","device":"183817","acknoledge":true,"name":"Server Light","topic":"Bedroom","x":270,"y":240,"wires":[["2e95d157.b9499e"]]},{"id":"2e95d157.b9499e","type":"function","z":"71249c0e.0d35d4","name":"SetChannelOne","func":"msg.channel = \"CHANNEL_1\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":240,"wires":[["267d281c.02e7c8"]]},{"id":"267d281c.02e7c8","type":"switch","z":"71249c0e.0d35d4","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"SetPercentageRequest","vt":"str"},{"t":"eq","v":"SetColourRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":670,"y":440,"wires":[["275476d4.409a6a"],["68909e06.df90a"],["dfa1856c.25b2f8"],["391cb606.c6ef8a"]]},{"id":"6d74e0bf.ac7a","type":"function","z":"71249c0e.0d35d4","name":"setChannelTwo","func":"msg.channel = \"CHANNEL_2\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":440,"wires":[["267d281c.02e7c8"]]},{"id":"85c72e9d.8e294","type":"function","z":"71249c0e.0d35d4","name":"setChannelThree","func":"msg.channel = \"CHANNEL_3\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":620,"wires":[["267d281c.02e7c8"]]},{"id":"275476d4.409a6a","type":"function","z":"71249c0e.0d35d4","name":"TurnOn","func":"msg.mode = \"NONE\";\nif(msg.colour == undefined){\n    msg.colour =\"WHITE\";\n}\nif(msg.brightness ==undefined){\n    msg.brightness = 100;\n}\nmsg.period =0;\nreturn msg;","outputs":1,"noerr":0,"initialize":"const COLOUR = {\n  RED : 0,\n  GREEN : 1,\n  BLUE : 2,\n  WHITE : 3,\n  ROSE : 4, \n  MAGENTA : 5,\n  VIOLET : 6,\n  AZURE : 7,\n  CYAN : 8,\n  AQUAMARINE : 9,\n  CHARTREUSE :10,\n  YELLOW : 11,\n  ORANGE : 12\n };\n\n \n const FADE_TYPE ={\n  NONE : 0,\n  SINE : 1,\n  SQUARE : 2,\n  TRIANGLE : 3,\n  SAWTOOTH : 4,\n  COLOUR_CHANGE :5,\n\n};\n\nconst CHANNEL ={\n  CHANNEL_NS : 0,\n  CHANNEL_1 : 1,\n  CHANNEL_2 : 2,\n  CHANNEL_3 : 3\n\n};","finalize":"","x":1140,"y":340,"wires":[["ce46367d.ff1988"]]},{"id":"391cb606.c6ef8a","type":"function","z":"71249c0e.0d35d4","name":"TurnOff","func":"msg.mode = \"NONE\";\nmsg.colour =\"WHITE\";\nmsg.brightness = 0;\nmsg.period =0;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1140,"y":560,"wires":[["ce46367d.ff1988"]]},{"id":"6d48d0e5.93fbb","type":"inject","z":"71249c0e.0d35d4","name":"TurnOffRequest","props":[{"p":"command","v":"\"TurnOffRequest\"","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":260,"y":120,"wires":[["2e95d157.b9499e"]]},{"id":"6c3beac5.895564","type":"inject","z":"71249c0e.0d35d4","name":"TurnOnRequest","props":[{"p":"command","v":"\"TurnOnRequest\"","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":260,"y":80,"wires":[["2e95d157.b9499e"]]},{"id":"d4f2ef36.fb9ec","type":"inject","z":"71249c0e.0d35d4","name":"TurnOffRequest","props":[{"p":"command","v":"\"TurnOffRequest\"","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":260,"y":360,"wires":[["6d74e0bf.ac7a"]]},{"id":"86ac0414.f667d8","type":"inject","z":"71249c0e.0d35d4","name":"TurnOnRequest","props":[{"p":"command","v":"\"TurnOnRequest\"","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":260,"y":320,"wires":[["6d74e0bf.ac7a"]]},{"id":"60ebe3f6.0ed8bc","type":"inject","z":"71249c0e.0d35d4","name":"TurnOffRequest","props":[{"p":"command","v":"\"TurnOffRequest\"","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":260,"y":540,"wires":[["85c72e9d.8e294"]]},{"id":"37da1e98.4b3db2","type":"inject","z":"71249c0e.0d35d4","name":"TurnOnRequest","props":[{"p":"command","v":"\"TurnOnRequest\"","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":260,"y":500,"wires":[["85c72e9d.8e294"]]},{"id":"dfa1856c.25b2f8","type":"function","z":"71249c0e.0d35d4","d":true,"name":"setColour","func":"","outputs":1,"noerr":0,"initialize":"const COLOUR = {\n  RED : 0,\n  GREEN : 1,\n  BLUE : 2,\n  WHITE : 3,\n  ROSE : 4, \n  MAGENTA : 5,\n  VIOLET : 6,\n  AZURE : 7,\n  CYAN : 8,\n  AQUAMARINE : 9,\n  CHARTREUSE :10,\n  YELLOW : 11,\n  ORANGE : 12\n };\n\n \n const FADE_TYPE ={\n  NONE : 0,\n  SINE : 1,\n  SQUARE : 2,\n  TRIANGLE : 3,\n  SAWTOOTH : 4,\n  COLOUR_CHANGE :5,\n\n};\n\nconst CHANNEL ={\n  CHANNEL_NS : 0,\n  CHANNEL_1 : 1,\n  CHANNEL_2 : 2,\n  CHANNEL_3 : 3\n\n};","finalize":"","libs":[],"x":960,"y":460,"wires":[["275476d4.409a6a"]]},{"id":"68909e06.df90a","type":"function","z":"71249c0e.0d35d4","name":"setPercentage","func":"\nmsg.brightness = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"const COLOUR = {\n  RED : 0,\n  GREEN : 1,\n  BLUE : 2,\n  WHITE : 3,\n  ROSE : 4, \n  MAGENTA : 5,\n  VIOLET : 6,\n  AZURE : 7,\n  CYAN : 8,\n  AQUAMARINE : 9,\n  CHARTREUSE :10,\n  YELLOW : 11,\n  ORANGE : 12\n };\n\n \n const FADE_TYPE ={\n  NONE : 0,\n  SINE : 1,\n  SQUARE : 2,\n  TRIANGLE : 3,\n  SAWTOOTH : 4,\n  COLOUR_CHANGE :5,\n\n};\n\nconst CHANNEL ={\n  CHANNEL_NS : 0,\n  CHANNEL_1 : 1,\n  CHANNEL_2 : 2,\n  CHANNEL_3 : 3\n\n};","finalize":"","libs":[],"x":940,"y":420,"wires":[["275476d4.409a6a"]]},{"id":"71c4d488.b1e77c","type":"inject","z":"71249c0e.0d35d4","name":"SetPercentageRequest","props":[{"p":"command","v":"\"SetPercentageRequest\"","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"60","payloadType":"num","x":240,"y":160,"wires":[["2e95d157.b9499e"]]},{"id":"1b92dc75.379044","type":"inject","z":"71249c0e.0d35d4","name":"SetPercentageRequest","props":[{"p":"command","v":"\"SetPercentageRequest\"","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"60","payloadType":"num","x":240,"y":400,"wires":[["6d74e0bf.ac7a"]]},{"id":"3fdd12bc.29f14e","type":"inject","z":"71249c0e.0d35d4","name":"SetPercentageRequest","props":[{"p":"command","v":"\"SetPercentageRequest\"","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"60","payloadType":"num","x":240,"y":580,"wires":[["85c72e9d.8e294"]]},{"id":"3812cae8fe9b9187","type":"serial out","z":"71249c0e.0d35d4","name":"","serial":"58b42172b18f8df7","x":1800,"y":480,"wires":[]},{"id":"0b1470dcccde2f0b","type":"inject","z":"71249c0e.0d35d4","name":"","props":[{"p":"channel","v":"CHANNEL_3","vt":"str"},{"p":"period","v":"1000","vt":"num"},{"p":"mode","v":"SINE","vt":"str"},{"p":"brightness","v":"100","vt":"num"},{"p":"colour","v":"RED","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":1270,"y":480,"wires":[["ce46367d.ff1988","84f48a78.f96768"]]},{"id":"81461b04.a7b598","type":"alexa-home-conf","username":"ScottGibb98"},{"id":"58b42172b18f8df7","type":"serial-port","serialport":"/dev/ttyACM0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"8","bin":"bin","out":"count","addchar":"","responsetimeout":"10000"}]